#footer
  .sitemaps
    .co.contact
      i
      h3 联系我们
      address.co-wrap
        p 杭州市西湖区文三路398号东方通信大厦1619室
        p
          span 联系邮箱:
          a(href='mailto:gd@163.com') 973202079@qq.com
        abbr 联系电话: 0571-87006280
    .co.join-us
      i
      .co-wrap
        h3 加入我们
        ul
          li
            a(href='/join/team') 团队介绍
          li
            a(href='/join/growup') 成长空间
          li
            a(href='/join/social') 社会招聘
          li
            a(href='/join/campus') 校园招聘
    .co.links
      i
      .co-wrap
        h3 友情链接
        ul
          li
            a(href='http://www.zmctc.com/zjgcjy/') 浙江省公共资源交易中心
          li
            a(href='http://www.zjtba.org.cn/') 浙江招投标协会
          li
            a(href='http://ztb.huzhou.gov.cn/') 湖州市政务网
          li
            a(href='http://web.smartzg.cn:8089/hz/') 智慧杭州
  .copyright &copy; 广多科技 浙ICP备案 14026531号 copyright 2014-2018