<div id="footer">
  <div class="sitemaps">
    <div class="co contact">
      <i></i>
      <h3>联系我们</h3>
      <address class="co-wrap">
        <p>浙江省绍兴市柯桥区轻纺城</p>
        <p>
          <span>联系邮箱:</span>
          <a href="mailto:"></a>
        </p>
        <abbr>联系电话: 13676858212(吉小姐)</abbr>
        <abbr>联系电话: 18858573155(王先生)</abbr>
        <abbr>固定电话: 0575-85584661</abbr>
      </address>
    </div>
    <div class="contact">
      <i></i>
      <h3>加入我们</h3>
    </div>
  </div>
  <div class="copyright">&copy; 中迈纺织 浙ICP备案 1500229 copyright 2014-2018</div>
</div>