<div id="header">
    <div class="header-wrapper clearfix">
        <div class="logo">
            <img src="/images/logo-mini-white.png" alt="中迈科技" />
        </div>
        <div class="hotline">
            <span class="zmfont">&#xe601;</span>
            <span class="phone-text">客服电话</span>
            <span class="phone">0575-85584661</span>
        </div>
        <div class="share">
            <span>分享到:</span>
            <i class="zmfont">&#xe604;</i>
            <i class="zmfont">&#xe603;</i>
        </div>
    </div>
    <div class="header-nav">
        <ul class="nav clearfix">
            <li>
                <a href="#">首页</a>
            </li>
            <li>
                <a href="#">公司简介</a>
            </li>
            <li>
                <a href="#">产品展示</a>
            </li>
            <li>
                <a href="#">厂房设备</a>
            </li>
            <li>
                <a href="#">联系我们</a>
            </li>
        </ul>
    </div>
</div>