<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta name="{{meta.name}}" content="{{meta.content}}"/>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
        <link rel="stylesheet" href="/stylesheets/global.css"/>
        <link rel="stylesheet", href="/stylesheets/head_foot.css"/>
        {% block layout-links %}
        <script type="text/javascript" src="//g.alicdn.com/kissy/k/1.4.8/seed-min.js"></script>
        <script type="text/javascript" src="/javascripts/head_foot.js"></script>
        {% endblock %}
        {% block layout-scripts %}
        {% endblock %}
    </head>
    <body>
    <script type="text/javascript">
    KISSY.config({
        packages: [
            {
                name: "zm",
                path: "./javascripts/",
                ignorePackageNameInUri: true,
                debug: true
            }
        ]
    })
    </script>
    {% include 'header.html' %}
    {% block content %} {% endblock %}
    {% include 'footer.html' %}
    </body>
</html>