/**
 * Reset Base Style v0.0.1
 * author: xiaotao<bird-jarvis@gmail.com>
 * 
 * Copyright 2014, Design Pattern Library v0.0.1
 * MIT Licensed
 *
 * Designed for faster build system with all the love by @bird-jarvis and @huangyuan
 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
body,
button,
input,
select,
textarea {
    font: 12px/1.5 tahoma, arial, Microsoft Yahei, sumson;
}
input,
select,
textarea {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    text-align: inherit;
}
fieldset,
img {
    border: 0;
}
iframe {
    display: block;
}
abbr,
acronym {
    border: 0;
    font-variant: normal;
}
del {
    text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
    font-weight: 500;
}
ol,
ul {
    list-style: none;
}
caption,
th {
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 500;
}
q:before,
q:after {
    content: '';
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
a:hover {
    color: #f50;
    text-decoration: underline;
}
ins,
a {
    text-decoration: none;
    color: #333;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="text"],
select {
    outline: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.hidden {
    display: none;
}
.hidden-visiable {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
}
.clearfix:after {
    clear: both;
}
/* Extra small devices (phones, less than 768px) */
/* Media query */
.container {
    margin-left: auto;
    margin-right: auto;
}

/*fontface*/

@font-face {
    font-family: 'zmfont';
    src: url('//at.alicdn.com/t/font_1428808746_1987462.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1428808746_1987462.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1428808746_1987462.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1428808746_1987462.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1428808746_1987462.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.zmfont {
    font-family: 'zmfont';
}
