#header {
  background: #0E9E57;
}
.header-wrapper {
  width: 990px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}
.header-wrapper .logo {
  float: left;
}
.header-wrapper .hotline {
  float: right;
  padding: 10px 0;
  color: #fff;
}
.header-wrapper .hotline span {
  display: inline-block;
  vertical-align: top;
}
.header-wrapper .hotline .zmfont {
  font-size: 26px;
}
.header-wrapper .hotline .phone-text {
  width: 30px;
}
.header-wrapper .hotline .phone {
  font-size: 26px;
}
.header-wrapper .share {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  color: #fff;
}
.header-wrapper .share i {
  font-style: normal;
  font-size: 20px;
  color: #F0F5E4;
}

.header-nav {
  background: #eee;
}
.header-nav .nav {
  width: 990px;
  margin: 0 auto;
}
.header-nav .nav li {
  float: left;
  width: 170px;
  font-size: 14px;
  padding: 5px 10px;
  color: #666;
  text-align: center;
}

#bodyer {
  /*width: 990px;*/
  min-height: 400px;
  _height: 400px;
  margin: 0 auto;
}
#footer {
  padding: 15px 0;
  background: #ededed;
}

/* corpinfo & sitemaps declare */
.sitemaps {
  width: 990px;
  height: 110px;
  margin: 0 auto;
}
.sitemaps .co {
  position: relative;
  float: left;
  padding-left: 60px;
  margin-right: 150px;
  color: #666;
  font: normal 14px \5FAE\8F6F\96C5\9ED1;
}
.sitemaps .contact {
  margin-right: 100px;
}
.sitemaps .links {
  margin-right: 0;
}
.sitemaps .co h3 {
  margin-bottom: 10px;
  font: 600 16px \9ed1\4f53;
}
.sitemaps .co p {
  margin-bottom: 10px;
}
.sitemaps .co i {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 40px;
  background: url(/images/mods.png) no-repeat 0 0;
}
.sitemaps .co li {
  margin-bottom: 10px;
}
.sitemaps .contact i {
  background-position: 10px 0;
}
.sitemaps .join-us i {
  background-position: 0 -52px;
}
.sitemaps .links i {
  background-position: 0 -102px;
}
.sitemaps address.co-wrap {
  margin-top: 20px;
}
.sitemaps .co a:link,
.sitemaps .co p, 
.sitemaps .co abbr {
  color: #999;
}
.sitemaps .co a:visited {
  color: #999;
}
.sitemaps .co a:hover {
  color: #f50;
}
.copyright {
  padding-top: 15px;
  text-align: center;
  clear: both;
  color: #666;
}