.fl {float: left;}
.fr {float: right;}

/** main content **/
.tab-content {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.tab-pannel {
  position: absolute;
  width: 2000px;
  height: 100%;
  text-align: center;
  left: 50%;
  margin-left: -1000px;
}
.tab-pannel img {
  text-align: center;
}


.main-col {
  padding: 20px;
  background: #F5FFFA;
}
.main-col .base-info {
    width: 990px;
    margin: 0 auto;
}
.base-info .info-block {
  width: 300px;
  margin-right: 45px;
}
.base-info .about,
.base-info .news,
.base-info .industry {
  float: left;
}
.base-info .industry {
  margin-right: 0px;
}
.base-info h4.info-title {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  color: #999;
}
h4.info-title span {
  color: #0E9E57;
  font-weight: bold;
}
.info-context p {
  margin: 0 auto;
  word-wrap: break-word;
  word-break: break-all;
}
