extends about-layout

block append layout-links
  link(rel="stylesheet" href="/stylesheets/about.css")
block content
  div.main-content
    p.desc 公司依托于市场，为了适应互联政务的发展趋势，以更好的支撑业务拓展，现建立了以下组织架构。
    div.struct
      img(src="/images/org-struct.jpeg" alt="组织结构图")
