extends about-layout

block append layout-links
  link(rel="stylesheet" href="/stylesheets/about.css")
block content
  div.main-content
    p.desc 
      strong.highlight 浙江杭电智慧政务研究中心
      | 是由杭州广多科技有限公司和杭州电子科技大学共同成立的一家专业研究智慧政务的研究所。
    p.desc 杭州电子科技大学是一所实力较为雄厚的综合性研究机构，尤其在“智慧城市”和“云计算”等关键技术研究领域。
    p.desc 云计算研究团队所在的杭州电子科技大学计算机学院拥有国家教育部重点实验室、“计算机科学与技术”一级学科博士点、浙江省“重中之重学科”、 国家特色建设专业、国家级计算机实验教学示范中心、信息产业部计算机应用技术重点实验室、财政部专项资助的实验室、浙江省重点专业、浙江省嵌入式技术联合重点实验室等，师资力量雄厚，教师专业知识结构合理。云计算研究团队现已在基于云计算平台的工作流协同建模与验证、面向云计算的海量数据高效与不确定查询、云计算底层存储技术等三个方向上积累了良好的理论与技术基础，并承担了四项国家自然科学基金、多项浙江省自然科学基金和多项省科技厅优先主题项目。
    p.desc 杭州电子科技大学在智慧城市建设方面已积累了相当的成果。《浙江省人民政府关于务实推进智慧城市建设示范试点工作的指导意见》（浙政发[2012]41号）文件明确指出，支持杭州电子科技大学成立省智慧城市研究中心，开展政策、规划、技术、业务和标准建设等方面的研究咨询工作。2013年4月16日，浙江省杭电智慧城市研究中心正式成立，中心聘请副省长毛光烈为名誉主任。目前，中心承担了浙江省云计算发展规划专项研究等一系列重要课题，并在智慧水务、智慧环保等方面展开了大量卓有成效的研究工作。
    div.partner
      h4 
        strong.highlight 研究所伙伴:
      ul
        li
          img(src="/images/university.jpeg" alt="杭州电子科技大学")
        li
          img(src="/images/college.jpeg" alt="计算机学院")