extends join_layout

block append layout-links
  link(rel="stylesheet" href="/stylesheets/join.css")
block content
  div.main-content
    h3.content-title 实习生招聘
    div.intr
      p 以下职位欢迎有志者加盟
      div.notice
        h4 注意事项: 
        p 1.应聘者请以邮件方式投递简历，并务必附上近照。
        p 2.请应聘者按约定时间来公司面试，有特殊情况者请及时电话告知。
        p 3.面试时请带上文本简历。
      div.contact
        h4 联系方式:
        p 公司地址: 杭州市西湖区文三路398号东方通信大厦1619室
        p 联系电话: 0571-87006280
        p 应聘邮箱: 973202079@qq.com
    ul.job-list
      li
        h4.job-title Java工程师实习生（若干）
        p 1.掌握Java知识，掌握数据库知识（Oracle或mysql）
        p 2.能够认真学习完成师兄师姐分配的任务
        p 3.工作乐观积极，能吃苦
  