extends join_layout

block append layout-links
  link(rel="stylesheet" href="/stylesheets/join.css")
block content
  div.main-content
    p.desc 杭州广多科技有限公司在2013年9月落地，现在公司的每一份子都在向着公司的目标不断努力前进。公司的任何一个岗位都有广阔的发展空间，只要你够努力。
    p.desc 
      strong.highlight 行政级别：
      | 专员→经理→总监/副总→总经理→总裁/董事长
    p.desc 
      strong.highlight 技术级别：
      | 研发工程师→高级工程师→资深工程师→架构师→高级架构师→资深架构师→科学家
    p.desc
      img(src="/images/growup.jpg")