extends join_layout

block append layout-links
  link(rel="stylesheet" href="/stylesheets/join.css")
block content
  div.main-content
    h3.content-title 社会招聘
    div.intr
      p 以下职位欢迎有志者加盟
      div.notice
        h4 注意事项: 
        p 1.应聘者请以邮件方式投递简历，并务必附上近照。
        p 2.请应聘者按约定时间来公司面试，有特殊情况者请及时电话告知。
        p 3.面试时请带上文本简历。
      div.contact
        h4 联系方式:
        p 公司地址: 杭州市西湖区文三路398号东方通信大厦1619室
        p 联系电话: 0571-87006280
        p 应聘邮箱: 973202079@qq.com
    ul.job-list
      li
        h4.job-title 销售工程师（2名）（薪资面议）
        p 1.大专以上学历，具有一定的IT行业销售工作经验，语言表达能力强。
        p 2.销售项目主要以政府项目为主，有一定的抗压能力。
        p 3.掌握或熟悉计算机软件方面的知识
      li
        h4.job-title 售前支持/咨询（1名）（薪资面议）
        p 1.大专及以上学历，有3年以上的JAVA开发工作经验，具有一定的项目实施工作经验，语言表达能力强 
        p 2.掌握JAVA知识，掌握数据库知识（Oracle或mysql）
        p 3.向客户介绍本公司的产品和服务 
        p 4.为客户提供详细的解决方案 ，支撑销售
        p 5.解答客户提出的有关本公司的产品和服务的疑问
      li
        h4.job-title Java工程师（5名）（薪资面议）
        p 1.客户需求收集整理，编制技术实施方案，功能设计与实现，项目实施。
        p 2.2~3年java开发工作经验。
        p 3.掌握Java知识，掌握数据库知识（Oracle或mysql）
        p 4.工作乐观积极，能吃苦。
        p 5.能适应短期省内出差。
      li
        h4.job-title Java研发工程师 （5名）（薪资面议）
        p 1.梳理上游需求，编制技术方案，完成功能设计及功能实现 
        p 2.1~3年工作经验
        p 3.掌握Java知识，熟悉html,css,javascript等Web开发相关技术
        p 4.工作乐观积极，有良好的沟通能力
        p 5.对技术有追求，对技术有激情者尤佳
  