extends join_layout

block append layout-links
  link(rel="stylesheet" href="/stylesheets/join.css")
block content
  div.main-content
    p.desc 公司汇聚了一批具有高度战略智慧与强大软件研发能力的研发人员，组成研发团队，人员包括IT界专家、教授、学者。他们对软件研发具有自己独到的见解，并充分融于实践，研发的系统、软件受到客户的大力赞赏。
    p.desc 董事长李小东先生和总经理钟迎女士，具有10年以上的IT界的从业经验，为公司提供了宝贵而又不失丰富的战略投资经验和管理经验，同时对不断发展的IT行业以及互联网行业的未来具有战略认识和剖析，为公司的未来发展提供了非常重要的基石。
    p.desc 公司的团队结构完善，不仅在研发团队上具备相当的技术储备能力，同时为了迎合公司未来的发展，优化了组织结构，组建了完善的服务，运营，技术支持，财务，人力资源等人员结构，以适应快速更新，不断变化的IT和互联网行业
    p.desc 
      | 我们的口号是: 
      strong.highlight 协作 交流 共赢
    p.desc
      img(src="/images/team.jpg")